.speech{font-family: 'Times New Roman', Times, serif;font-size: 16px;color: black;}

.stage-direction{font-family: 'Times New Roman', Times, serif;font-size: 16px;color: black;}

.name{font-size :16px;color:black;}

.stage-direction:hover{background-color: yellow;color: turquoise;}

h3{font-size:22px;color:black;text-align: center;}

h4 { font-size:16px;color: green; }

.speech{font-size:14px;
    color:black}
 
    .ladyhunstanton{font-size:16px;color:blue;}

    .gerald{font-size:16px;color:coral;}

    .allonby{font-size:16px;color:yellowgreen;}

    table{ width: 400px;}
  
    th{text-align: left;font-size: 20px;}
     
    table,th,td{border: 1px solid #000;
                border-collapse: collapse;}

    th,td{padding: 10px;}
    
    caption{font-size:20px;}

    tr:nth-child(even) {background-color: #f2f2f2;}

    th {
        background-color:#05b448;
        color: white;
      }
      