h1,h3,h4,h6,p{font-family: 'Times New Roman', Times, serif;}

h1{font-size :16px;color:black;}

h3{font-size:16px;color:black;}

h4 { font-size:12px;color:green; }

p, h6 {font-size:12px;
    color:black}

    #special_1,#special_2{background: lightblue;}
 
    h6{color:greenyellow;}